::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #424242;
}

::selection {
    color: #fff; 
    background: #424242;
}
.info{
	margin-top: 12%;
}
/*fix bug grocery*/
.small-loading{
	padding-left:10px;
	padding-top:1px;
	display: none;
}
.report-div{
 	display:none;
}
.datepicker-input-clear{
	cursor: pointer;
}