::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #424242;
}

::selection {
    color: #fff; 
    background: #424242;
}
.info{
	margin-top: 14%;
}
#user-menu{
  text-transform: capitalize;
}
/*fix bug grocery*/
.small-loading{
	padding-left:10px;
	padding-top:1px;
	display: none;
}
.report-div{
 	display:none;
}
.datepicker-input-clear{
	cursor: pointer;
}
.tDiv2,
.tDiv3{
  margin: 0 0 10px;
}
.table-menu>li{
  float: left;
  position: relative;
  display: block;
  margin-left: 10px;
}
.td-action{
  width: 20%;
}
/* Autocomplete jquery ui theme */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #3c8dbc;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
/*PACE LOADING*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index:2000;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}